/* src/components/movie-view/movie-view.scss */

/* Styles for the back button */
.back-button {
    padding: 4px 12px;
    color: whitesmoke;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* Added cursor style for better UX */
    text-align: center; /* Center text within the button */
}

.movie-view-card {
    max-width: 800px; /* Set a max-width for the card */
    margin: auto; /* Center the card */
    overflow: hidden; /* Prevent overflow */
}

.movie-view-img {
    width: 100%;
    height: auto;
    max-height: 500px; /* Set a max-height to ensure the image doesn’t get too large */
    object-fit: cover; /* Use cover if you want to fill the container */
    padding: 10px; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding in the width and height */
}