.custom-navbar {
	background-color: darkseagreen;
	font-size: 20px;
	margin-bottom: 5%;
}

.navbar-brand {
	color: sienna;
}

.nav-link {
	color: sienna
}

&:hover {
	background-color: lightseagreen;
}

.btn-outline-secondary {
	color: sienna;
	border-color: lightseagreen;
}

&:hover {
	background-color: lightseagreen;	
	color: slategray;
}