$primary: rgb(57, 99, 64);
$body-bg: #f4f4f4;

// Navbar styles
.navbar {
  background-color: $primary;
  border-bottom: 2px solid darken($primary, 10%);
  padding: 10px 0;
}

.navbar-brand {
  color: #fff; // White color for the brand text
  font-weight: bold;
}

.nav-link {
  color: #fff; // White color for the navigation links
  font-weight: bold;
  transition: color 0.3s ease; // Smooth transition for link color change
}

.nav-link:hover {
  color: lighten($primary, 20%); // Lighten link color on hover
}

.form-control {
  background-color: transparent;
  border-color: #fff; // White border for form controls
  color: #fff; // White color for form control text
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5); // Semi-transparent white for placeholder text
}

