:root {
    --primary-color: rgb(57, 99, 64);
    --secondary-color: #f4ff1a;
}

/* Navbar styles */
.navbar {
    background-color: var(--primary-color);
    border-bottom: 2px solid #2d4e32; /* Adjusted color here */
    padding: 10px 0;
}
.navbar-brand {
    color: #fff; /* Adjusted color here */
    font-weight: bold;
}
.nav-link {
    color: #fff; /* Adjusted color here */
    font-weight: bold;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: #c9ffcf; /* Adjusted color here */
}

/* Form control */
.form-control {
    background-color: transparent; /* Adjusted background color here */
    border-color: #fff; /* Adjusted border color here */
    color: #fff; /* Adjusted color here */
}
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

/* Typography */
.title {
    margin: 24px 0 16px;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Card */
.card {
    background-color: #fefeff; /* Adjusted background color here */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}
.card-title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.card-text {
    text-align: center;
    color: #6c757d; /* Adjusted color here */
}

/* Buttons */
.button-delete {
    align-self: flex-end;
    margin-top: auto;
    background-color: #dc3545;
    color: #fff; /* Adjusted color here */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-delete:hover {
    background-color: #c82333;
}
