$primary: rgb(57, 99, 64);
$color_1: red;
$color_2: $primary;
$color_3: black;
$background-color_1: ghostwhite;
$background-color_2: lighten($primary, 10%);
$background-color_3: darken($primary, 10%);

.primaryButton, .deleteButton {
  font-size: 15px;
  letter-spacing: 3px;
  font-variant: all-small-caps;
  border-radius: 10px;
  transition: all 0.9s;
}

.primaryButton:hover {
  background-color: $background-color_1;
  letter-spacing: 5px;
  box-shadow: thistle 0px 0px 10px 2px;
}

.deleteButton:hover {
  color: $color_1;
  font-weight: 700;
  background-color: $background-color_1;
  letter-spacing: 4px;
  box-shadow: red 0px 0px 10px 2px;
}

.complementaryButton {
  background-color: $background-color_2;
  color: $color_2;
}

.complementaryButton:hover {
  background-color: $background-color_3;
}

.warning {
  letter-spacing: 2px;
  margin-top: 150px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: 2px dashed red;
  color: $color_3;
  border-radius: 10px;
}

.formLabel {
  font-size: 15px;
  font-variant: all-small-caps;
}

.formInput {
  font-style: italic;
  font-size: 13px;
}
